@page "/Cobros"
@page "/Cobros/{CobroId:int}"

@inject IToastService Toast

<EditForm Model="Cobro" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header" style="background: #324A5F">
            <h1 style="color:white">Registro de Cobros</h1>
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col form-group" align="left">
                    <label>Cobro Id:</label>
                    <div class="input-group">
                        <InputNumber @bind-Value="Cobro.CobroId" class="form-control" />
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-info" @onclick="Buscar">
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" fill="spacegray" class="bi bi-search" viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>Buscar
                            </button>
                        </div>
                    </div>
                </div>



                @*Fecha*@
                <div class="col form-group">
                    <label>Fecha:</label>
                    <InputDate @bind-Value="Cobro.Fecha" class="form-control" />
                </div>

            </div>

            @*Cliente*@
            <div class="form-group">
                <label>Cliente:</label>
                <InputSelect @bind-Value="Cobro.ClienteId" class="form-control">
                    <option value="0" disabled selected>Seleccionar Cliente</option>
                    @foreach (var item in ListaClientes)
                    {
                        <option value="@item.ClienteId">@item.Nombres</option>
                    }
                </InputSelect>
                <ValidationMessage For="(() => Cobro.ClienteId)" />
            </div>

            <div class="card-header bg-info">
                <h4 class="text-white">Cobros Detalle</h4>
            </div>

            <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Id</th>
                            <th>Fecha</th>
                            <th>Monto</th>
                            <th>Balance</th>
                            <th>Cobrado</th>
                            <th>Pagar</th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        @foreach (var item in Cobro.Detalle)
                        {
                            <tr>
                                <td>@item.VentaId</td>
                                <td>@item.Venta.Fecha</td>
                                <td>@item.Venta.Monto</td>
                                <td>@item.Venta.Balance</td>
                                <td>@item.Cobrado</td>
                                <th><input type="checkbox" /></th>

                            </tr>
                        }
                    </tbody>
                </table>

                <div class="row align-items-center">
                    <div class="col">
                        <div class="form-group row m-1">
                            <label class="col-form-label">Totales:</label>
                            <div class="input-group col-sm-3">
                                <InputNumber @bind-Value="Cobro.Totales" readonly class="form-control" />
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group row">
                            <label class="col-form-label">Total Cobrado</label>

                            <div class="col-sm-3">
                                <InputNumber @bind-Value="Cobro.TotalCobro" readonly class="form-control" />
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            @*Botones*@

            <div class="card-footer">
                <div class="form-group text-center" display: inline-block>

                    <button type="button" class="btn btn-lg btn-primary" @onclick="Nuevo">
                        <i class="oi oi-file mr-2" width="30" height="30" viewBox="0 0 20 20" />Nuevo
                    </button>

                    <button type="submit" class="btn btn-lg btn-success">
                        <i class="oi oi-account-login" style="transform:rotate(90deg)" width="30" height="30" viewBox="0 0 20 20" />Guardar
                    </button>

                    <button type="button" class="btn btn-lg btn-danger" @onclick="Eliminar">
                        <i class="oi oi-trash mr-2" />Eliminar
                    </button>

                </div>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int CobroId { get; set; }
    Cobros Cobro = new Cobros();
    List<Clientes> ListaClientes = new List<Clientes>();

    protected override void OnInitialized()
    {
        Nuevo();
    }

    public void Nuevo()
    {
        Cobro = new Cobros();
        ListaClientes = ClientesBLL.GetList(e => true);
    }
    public void Eliminar()
    {

    }
    public void Buscar()
    {

    }
    public void Guardar()
    {

    }
}